{% extends 'base.twig' %}

{% block content %}
  <p>Use this secure form to send passwords and other sensitive information to {{appAdministrator ?? 'the administrator'}}. Any information shared via this form will be stored securely and deleted after viewing.</p>
    <form action="/" method="post">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="4" cols="50" maxlength="{{maxLength}}"></textarea>
        <small id="counter">0/{{maxLength}}</small>
        <script>
            const message = document.getElementById("message");
            const counter = document.getElementById("counter");
            message.addEventListener("input", () => {
                counter.textContent = `${message.value.length}/{{maxLength}}`;
            });
        </script>
        <input type="hidden" name="uuid" value="{{uuid}}">
        <input type="hidden" name="csrf_token" value="{{csrfToken}}">
        <input type="submit" value="Submit">
        {% if cfTsActive %}
            <div class="cf-turnstile" data-sitekey="{{cfTsSiteKey}}" data-theme="{{defaultColorScheme|default('dark')}}"></div>
        {% endif %}
    </form>
{% endblock %}
